<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">


  <test name="Validating User login">
    <classes>
      <class name="aspire.HomePage"/>
          </classes>
      </test>

       <test name="App Testing">
         <classes>
      <class name="aspire.AppTest"/>
       </classes>
      </test>

</suite> <!-- Suite -->
