<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="Aspire.Listeners"/>
</listeners>

  <test name="Validating User login">
    <classes>
      <class name="Aspire.HomePage"/>
          </classes>
      </test>
      
    <test name="Validating title in the Page">
         <classes>
      <class name="Aspire.validateTitle"/>
       </classes>
      </test>
       <test name="App Testing">
         <classes>
      <class name="Aspire.AppTest"/>
       </classes>
      </test>
            <test name="Validating navigation Bar">
         <classes>
      <class name="Aspire.validateNavigationBar"/>
   </classes>
      </test>
   <!-- Test -->
</suite> <!-- Suite -->
